<script>
    var DISCONNECTED = 0;
    var CONNECTING = 1;
    var CONNECTED = 2;

    var socket;
    var state = DISCONNECTED;

    var autos = [];
    var json;

    var autoMenuVisible = false;
    var updater = null;

    var current_tab = "dashboard";

    var recievedFirstJSON = false;

    function getElement(id) {
        return document.getElementById(id);
    }

    function setNumber(id, decimal_places) {
        getElement(id).innerText = Number(json[id]).toFixed(decimal_places);
    }

    function setInner(id, innerHTML) {
        getElement(id).innerHTML = innerHTML;
    }

    function setTab(id) {
        getElement(current_tab + '_tab').classList.remove('active');
        getElement(current_tab).classList.add('invisible');

        current_tab = id;

        getElement(current_tab + '_tab').classList.add('active');
        getElement(current_tab).classList.remove('invisible');
    }

    function toggleConnection() {
        if (state == DISCONNECTED) {
            connect();
        }
        else {
            state = DISCONNECTED;

            socket.close();
            socket = null;
        }
    }

    // function toggleCamConnection(addresses, ids) {
    //     for(var i = 0; i < addresses.length; i++) {
    //         var camera_stream = getElement(ids[i]);
    //         if (camera_stream.style.display === "none") {
    //             camera_stream.style.display = "block";
    //             if(i == 0){
    //                 getElement('cam_conn_button').classList.remove('red');
    //                 getElement('cam_conn_button').classList.remove('orange');
    //                 getElement('cam_conn_button').classList.add('green');
    //                 setInner('cam_conn_button_text', 'Hide Camera Stream');
    //                 camera_stream.style = 'width: 100%; margin: 8px 0px 0px 0px; display: none;';
    //             }
    //             camera_stream.src = addresses[i];
    //             //'http://10.31.28.2:1181/stream.mjpg'
    //         } else {
    //             camera_stream.style.display = "none";
    //             if(i == 0){
    //                 getElement('cam_conn_button').classList.remove('green');
    //                 getElement('cam_conn_button').classList.remove('orange');
    //                 getElement('cam_conn_button').classList.add('red');
    //                 setInner('cam_conn_button_text', 'Show Camera Stream');
    //                 camera_stream.style = 'width: 0%; margin: 8px 0px 0px 0px; display: none;';
    //             }
    //             camera_stream.src = '';
    //         }
    //     }
    // }

    function toggleCamConnection(address) {
        var camera_stream = getElement("top_stream");
        if (camera_stream.style.display === "none") {
            camera_stream.style.display = "block";
            getElement('cam_conn_button').classList.remove('red');
            getElement('cam_conn_button').classList.remove('orange');
            getElement('cam_conn_button').classList.add('green');
            setInner('cam_conn_button_text', 'Hide Camera Stream');
            camera_stream.src = address;
            //'http://10.31.28.2:1181/stream.mjpg'
        } else {
            camera_stream.style.display = "none";
            getElement('cam_conn_button').classList.remove('green');
            getElement('cam_conn_button').classList.remove('orange');
            getElement('cam_conn_button').classList.add('red');
            setInner('cam_conn_button_text', 'Show Camera Stream');
            camera_stream.src = '';
        }
    }

    function connect() {
        //socket = new WebSocket("ws:roborio-3128-frc.local:5800");
        socket = new WebSocket("ws:10.31.28.2:5805");
        //socket = new WebSocket("ws:roborio-3128-frc.local:5805");
        
        getElement('conn_button').classList.remove('red');
        getElement('conn_button').classList.remove('green');
        getElement('conn_button').classList.add('orange');
        setInner('conn_button_text', 'Connecting...');
        state = CONNECTING;

        socket.onopen = function (event) {
            console.log("Connected.")
        };

        socket.onmessage = function (event) {
            json = JSON.parse(event.data);

            if (!recievedFirstJSON) {
                getElement('conn_button').classList.remove('red');
                getElement('conn_button').classList.remove('orange');
                getElement('conn_button').classList.add('green');
                setInner('conn_button_text', 'Connected');
                state = CONNECTED;

                getElement("cover").style.display = 'none';
            }

            if (json.hasOwnProperty('auto_programs')) {
                autos = json['auto_programs'];

                setup_auto_chooser();
            }

            if (updater != null) {
                sel_auto = json['selected_auto']
                if (sel_auto == "null") {
                    sel_auto = "None";
                }

                setInner('selected_auto', sel_auto);
                setInner('match_time', Number(json['time']).toFixed(0));

                updater(json);
            }
        };

        socket.onclose = function (event) {
            // TODO: If disconnected by robot (i.e. not due to user manually clicking the connection button,
            // automatically try to reconnect.)

            state = DISCONNECTED;
            recievedFirstJSON = false;

            getElement('conn_button').classList.remove('green');
            getElement('conn_button').classList.remove('orange');
            getElement('conn_button').classList.add('red');
            setInner('conn_button_text', 'Disconnected');

            getElement("cover").style.display = 'block';

            autos = [];
            setup_auto_chooser();

            getElement('selected_auto').innerHTML = "Not Connected."
        };
    }

    function addUpdater(u) {
        updater = u;
    }

    function setup_auto_chooser() {
        noneElement = getElement("auto_choice_none");

        getElement("auto_list").innerHTML = noneElement.outerHTML;

        for (var i = 0; i < autos.length; i++) {
            var element = noneElement.cloneNode(true);

            element.id = "auto_choice_" + i;
            element.setAttribute('onclick', "select_auto(" + i + ")");
            element.innerHTML = autos[i];

            getElement("auto_list").appendChild(element);
        }
    }

    function openAutoMenu() {
        getElement('auto_list').style.display = 'block';
        autoMenuVisible = true;
    }

    function closeAutoMenu() {
        getElement('auto_list').style.display = 'none';
        autoMenuVisible = false;
    }

    function toggleAutoMenu() {
        if (!autoMenuVisible) {
            openAutoMenu();
        }
        else {
            closeAutoMenu();
        }
    }

    function select_auto(i) {
        if (i == "-1") {
            send("selectAuto:null");
        }
        else {
            send("selectAuto:" + autos[Number(i)]);
        }
        closeAutoMenu();
    }

    function buttonDown(name) {
        send("button:" + name + ":down");
    }

    function buttonUp(name) {
        send("button:" + name + ":up");
    }

    function send(string_data) {
        if (state == CONNECTED) {
            socket.send(string_data);
            console.log("Sent \'" + string_data + "\'");
        }
        else {
            console.log("Attempted to send \'" + string_data + "\'");
        }
    }

    function sendNum(id, value) {
        send('numData:' + id + ':' + value)
    }
</script>