<script>
    var DISCONNECTED = 0;
    var CONNECTING = 1;
    var CONNECTED = 2;

    var socket;
    var state = DISCONNECTED;

    var autos = [];
    var limelights = [];
    var limelightsOptions = [];
    var json;

    var sel_auto;
    var sel_limelight;
    var sel_pipeline;

    var autoMenuVisible = false;
    var limelightMenuVisible = false;
    var pipelineMenuVisible = false;
    var updater = null;

    var current_tab = "dashboard";

    var recievedFirstJSON = false;

    const debugElements = new Map();
    
    //var noneElement = "";

   

    function getElement(id) {
        return document.getElementById(id);
    }

    function setNumber(id, decimal_places) {
        getElement(id).innerText = Number(json[id]).toFixed(decimal_places);
    }

    function setInner(id, innerHTML) {
        getElement(id).innerHTML = innerHTML;
    }

    function setTab(id) {

        getElement(current_tab + '_tab').classList.remove('active');
        getElement(current_tab).classList.add('invisible');

        current_tab = id;

        getElement(current_tab + '_tab').classList.add('active');
        getElement(current_tab).classList.remove('invisible');

        //toggleConnection();
    }

    function toggleConnection() {


        if (state == DISCONNECTED) {
            connect();
        }
        else {
            state = DISCONNECTED;

            socket.close();
            socket = null;
        }
    }

    // function toggleCamConnection(addresses, ids) {
    //     for(var i = 0; i < addresses.length; i++) {
    //         var camera_stream = getElement(ids[i]);
    //         if (camera_stream.style.display === "none") {
    //             camera_stream.style.display = "block";
    //             if(i == 0){
    //                 getElement('cam_conn_button').classList.remove('red');
    //                 getElement('cam_conn_button').classList.remove('orange');
    //                 getElement('cam_conn_button').classList.add('green');
    //                 setInner('cam_conn_button_text', 'Hide Camera Stream');
    //                 camera_stream.style = 'width: 100%; margin: 8px 0px 0px 0px; display: none;';
    //             }
    //             camera_stream.src = addresses[i];
    //             //'http://10.31.28.2:1181/stream.mjpg'
    //         } else {
    //             camera_stream.style.display = "none";
    //             if(i == 0){
    //                 getElement('cam_conn_button').classList.remove('green');
    //                 getElement('cam_conn_button').classList.remove('orange');
    //                 getElement('cam_conn_button').classList.add('red');
    //                 setInner('cam_conn_button_text', 'Show Camera Stream');
    //                 camera_stream.style = 'width: 0%; margin: 8px 0px 0px 0px; display: none;';
    //             }
    //             camera_stream.src = '';
    //         }
    //     }
    // }

    function changeColors(match_state){
        getElement('conn_button').classList.remove('red');
        getElement('conn_button').classList.remove('green');
        getElement('match_state').classList.remove('yellow'); 

        if(match_state = "TELEOP") {
            setInner('match_state_text', 'TELEOP');
            getElement('match_state').classList.add('yellow');
        }
        if(match_state = "AUTO") {
            setInner('match_state_text', 'AUTO');
            getElement('match_state').classList.add('green');
        }
        if(match_state = "ENDGAME") {
            setInner('match_state_text', 'ENDGAME');
            getElement('match_state').classList.add('red');
        }
    }

    function toggleToSelectedLimelight(){
        toggleCamConnection("http://"+sel_limelight+".local:5800", "limelight_stream");
    }

    function toggleCamConnection(address, streamID) {
        var camera_stream = getElement(streamID);
        if (camera_stream.style.display === "none") {
            connectToCam(address);
        } else {
            disconnectCam();
        }
    }

    function connectToCam(address){
        var camera_stream = getElement("top_stream");
        camera_stream.style.display = "block";
        getElement('cam_conn_button').classList.remove('red');
        getElement('cam_conn_button').classList.remove('orange');
        getElement('cam_conn_button').classList.add('green');
        setInner('cam_conn_button_text', 'Hide Camera Stream');
        camera_stream.src = address;
    }

    function disconnectCam(){
        var camera_stream = getElement("top_stream");
        camera_stream.style.display = "none";
        getElement('cam_conn_button').classList.remove('green');
        getElement('cam_conn_button').classList.remove('orange');
        getElement('cam_conn_button').classList.add('red');
        setInner('cam_conn_button_text', 'Show Camera Stream');
        camera_stream.src = '';
    }

    function createDebugElement(key) {
        //Create Elements
        let newElement = document.createElement("div");
        let debugTitle = document.createElement("span");
        let debugInfo = document.createElement("span");

        //New Element Classes
        newElement.classList.add("flexbox");
        newElement.classList.add("sapphire");
        newElement.classList.add("row");

        //New Element Extra Styling
        newElement.style.alignItems = "strech";
        newElement.style.justifyContent = "center";
        newElement.style.margin = "10px";
        newElement.style.padding = "5px";
        newElement.style.height = "30px";
        newElement.style.borderRadius = "16px";

        //Debug Title Class (includes all styling)
        debugTitle.classList.add("debug-title");
        debugTitle.innerHTML = key;

        //Debug Information Class (including all styling)
        debugInfo.classList.add("debug-info");

        //Add Debug Title/Info to Element and add Element to Debug Panel
        newElement.appendChild(debugTitle);
        newElement.appendChild(debugInfo);
        getElement("debug-panel").appendChild(newElement);
        debugElements.set(key, newElement);
    }

    function updateDebug(debugVals) {
        debugVals.forEach((obj) => {
            //Add Row for debug element if it doesn't exist

            let key = obj["key"];
            let value = obj["value"];

            if(!debugElements.has(key)) {
                createDebugElement(key);
            }
            
            //Set the Value in the Row
            let elList = debugElements.get(key).getElementsByClassName("debug-info");
            if(elList.length > 0) elList[0].innerHTML = value;

        });
    }

    function connect() {
        //socket = new WebSocket("ws:roborio-3128-frc.local:5800");
        socket = new WebSocket("ws:10.31.28.2:5805");
        //socket = new WebSocket("ws:roborio-3128-frc.local:5805");
        
        getElement('conn_button').classList.remove('red');
        getElement('conn_button').classList.remove('green');
        getElement('conn_button').classList.add('orange');
        setInner('conn_button_text', 'Connecting...');
        state = CONNECTING;

        socket.onopen = function (event) {
            console.log("Connected.")
        };

        socket.onmessage = function (event) {
            json = JSON.parse(event.data);

            if (!recievedFirstJSON) {
                getElement('conn_button').classList.remove('red');
                getElement('conn_button').classList.remove('orange');
                getElement('conn_button').classList.add('green');
                setInner('conn_button_text', 'Connected');
                state = CONNECTED;

                getElement("cover").style.display = 'none';
            }

            if (json.hasOwnProperty('auto_programs')) {
                autos = json['auto_programs'];

                setup_auto_chooser();
            }

            if (json.hasOwnProperty('limelights')) {
                limelights = json['limelights'];
            
                setup_limelights();
            }

            if (json.hasOwnProperty('limelightsOptions')) {
                limelightsOptions = json['limelightsOptions'];

                setup_pipelines();
            }

            if(json.hasOwnProperty('debug')) {
                updateDebug(json['debug']);
            }

            //console.log(json);

            if (updater != null) {

                sel_auto = json['selected_auto']
                if (sel_auto == "null") {
                    sel_auto = "None";
                }

                sel_limelight = json['selected_limelight']
                if (sel_limelight == "null") {
                    sel_limelight = "None";
                }
                sel_pipeline = json['selected_pipeline']
                if (sel_pipeline == "null") {
                    sel_pipeline = "None";
                }

                setInner('selected_auto', sel_auto);
                setInner('selected_limelight', sel_limelight);
                setInner('selected_pipeline', sel_pipeline);

                setInner('match_time', Number(json['time']).toFixed(0));

                console.log(json);

                updater(json);
            }
        };

        socket.onclose = function (event) {
            // TODO: If disconnected by robot (i.e. not due to user manually clicking the connection button,
            // automatically try to reconnect.)

            state = DISCONNECTED;
            recievedFirstJSON = false;

            getElement('conn_button').classList.remove('green');
            getElement('conn_button').classList.remove('orange');
            getElement('conn_button').classList.add('red');
            setInner('conn_button_text', 'Disconnected');

            getElement("cover").style.display = 'block';

            autos = [];
            limelights = [];
            limelightsOptions = [];

            setup_auto_chooser();
            setup_limelights();

            getElement('selected_auto').innerHTML = "Not Connected."
            getElement('selected_limelight').innerHTML = "Not Connected."
            getElement('selected_pipeline').innerHTML = "Not Connected."
        };
    }

    function addUpdater(u) {
        updater = u;
    }

    function setup_auto_chooser() {
        noneElement = getElement("auto_choice_none");

        getElement("auto_list").innerHTML = noneElement.outerHTML;

        for (var i = 0; i < autos.length; i++) {
            var element = noneElement.cloneNode(true);

            element.id = "auto_choice_" + i;
            element.setAttribute('onclick', "select_auto(" + i + ")");
            element.innerHTML = autos[i];

            getElement("auto_list").appendChild(element);
        }
    }

    function setup_limelights() {

        noneElement = "";
        noneElement = getElement("limelight_choice_none");

        getElement("limelight_list").innerHTML = noneElement.outerHTML;

        for (var i = 0; i < limelights.length; i++) {
            var element = noneElement.cloneNode(true);

            element.id = "limelight_choice_" + i;
            element.setAttribute('onclick', "select_limelight(" + i + ")");
            element.innerHTML = limelights[i];

            getElement("limelight_list").appendChild(element);
        }
    }

    function setup_pipelines(){

        noneElement = "";
        noneElement = getElement("pipeline_choice_none");

        for (var i = 0; i < limelightsOptions.length; i++) {
            var element = noneElement.cloneNode(true);

            element.id = "pipeline_choice_" + i;
            element.setAttribute('onclick', "select_pipeline(" + i + ")");
            element.innerHTML = limelightsOptions[i];

            getElement("pipeline_list").appendChild(element);
        }
    }

    function openAutoMenu() {
        getElement('auto_list').style.display = 'block';
        autoMenuVisible = true;
    }

    function openLimelightMenu() {
        getElement('limelight_list').style.display = 'block';
        limelightMenuVisible = true;
    }

    function openPipelineMenu() {
        getElement('pipeline_list').style.display = 'block';
        pipelineMenuVisible = true;
    }

    function closeAutoMenu() {
        getElement('auto_list').style.display = 'none';
        autoMenuVisible = false;
    }

    function closeLimelightMenu() {
        getElement('limelight_list').style.display = 'none';
        limelightMenuVisible = false;
    }

    function closePipelineMenu() {
        getElement('pipeline_list').style.display = 'none';
        pipelineMenuVisible = false;
    }

    function toggleAutoMenu() {


        if (!autoMenuVisible) {
            openAutoMenu();
        }
        else {
            closeAutoMenu();
        }
    }

    function toggleLimelightMenu() {
        if (!limelightMenuVisible) {
            openLimelightMenu();
        }
        else {
            closeLimelightMenu();
        }
    }

    function togglePipelineMenu() {
        if (!pipelineMenuVisible) {
            openPipelineMenu();
        }
        else {
            closePipelineMenu();
        }
    }

    function select_auto(i) {
        if (i == "-1") {
            send("selectAuto:null");
        }
        else {
            send("selectAuto:" + autos[Number(i)]);
        }
        closeAutoMenu();
    }
    function select_limelight(i) {
        if (i == "-1") {
            send("selectLimelight:null");
        }
        else {
            send("selectLimelight:" + limelights[Number(i)]);
        }
        disconnectCam();
        closeLimelightMenu();
    }
    function select_pipeline(i) {
        if (i == "-1") {
            send("selectPipeline:null");
        }
        else {
            send("selectPipeline:" + limelightsOptions[Number(i)]);
        }
        closePipelineMenu();
    }

    function buttonDown(name) {
        send("button:" + name + ":down");
    }

    function buttonUp(name) {
        send("button:" + name + ":up");
    }

    function send(string_data) {
        if (state == CONNECTED) {
            socket.send(string_data);
            console.log("Sent \'" + string_data + "\'");
        }
        else {
            console.log("Attempted to send \'" + string_data + "\'");
        }
    }

    function sendNum(id, value) {
        send('numData:' + id + ':' + value)
    }

</script>