<div id="dcu" class="flexbox column">
    <div class="flexbox row" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 16px; font-size: 14pt; margin: 16px;">
        <div style="padding: 0px; margin: 0px">
            <div style="text-align: center; background: white; padding: 8px; margin: 0px 0px 16px 0px">
                <b style="font-size: 20pt; margin-bottom: 4px;">Step 1: Wheel Circumference</b><br>
                
                In order to determine wheel circumference, reset the drive encoders, and push the robot (yes, by hand) exactly 100 inches.
                <br><br>
                <table cellspacing="4px" style="width: 100%; font-size: 18pt; text-align: center;">
                    <tr>
                        <td width="45%">
                            <div onmousedown='buttonDown("resetEncoders")' class="button royal flexbox" style="align-items: center; height: 150px; border-radius: 12px; padding: 20px; vertical-align: middle;">
                                <div><b>Reset Drive Encoders</b></div>
                            </div> 
                        </td>
                        <td>
                            <div>Wheel Circumference</div>
                            <div id="wheel_circumference" style="font-size: 50pt; line-height: 46pt;">--</div>
                            <div>inches</div>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="text-align: center; background: white;  padding: 8px; margin: 0px 0px 16px 0px;">
                <b style="font-size: 20pt; margin-bottom: 4px;">Step 4: Vision PID</b>
                <br>
                To tune the PID loop for the vision horizontal alignment.
                <br>

                <div style="flex: 0 1 100%; display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 12px; margin-bottom: 8px;">
                    <div>
                        <text style="font-size: 24pt">kP</text>
                        <br>
                        <input id="vision_p" style="font-size: 24pt; width: 100%"/>
                    </div>
                    <div>
                        <text style="font-size: 24pt">kI</text>
                        <br>
                        <input id="vision_i" style="font-size: 24pt; width: 100%"/>
                    </div>
                    <div>
                        <text style="font-size: 24pt">kD</text>
                        <br>
                        <input id="vision_d" style="font-size: 24pt; width: 100%"/>
                    </div>
                </div>

                <div onclick="pushVisionPID()" class="button navy flexbox column squarish" style="font-size: 16pt; padding: 8px; text-align: center">
                    <div><b>Save Vision PID Constants</b></div>
                </div> 
            </div>

            <!-- <div style="padding: 0px; margin: 0px">
                <div style="text-align: center; background: white; padding: 8px; margin: 0px 0px 16px 0px">
                    <b style="font-size: 20pt; margin-bottom: 4px;">Step 4: Feed-Forward Power Multiplier</b>
                    <br>
                    To determine the left and right ffpms of the robot, change the left and right applied powers and run the program. Run the program with increments of 0.05 starting from -1 to 1 for both sides.
                    <br><br>
                    Add each trials' worth of values to the CSV buffer. To flush the buffer, and the log the CSV values for fitting, hit the flush button.
                    <br><br>
    
                    <div style="flex: 0 1 100%; display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 12px; margin-bottom: 8px;">
                        <div>
                            <text style="font-size: 24pt">Left Power</text>
                            <br>
                            <input id="l_pow_ffp" style="font-size: 24pt; width: 100%"/>
                        </div>
                        <div>
                            <text style="font-size: 24pt">Right Power</text>
                            <br>
                            <input id="r_pow_ffp" style="font-size: 24pt; width: 100%"/>
                        </div>
                    </div>
    
                    <text style="font-size: 16pt">Duration (ms):</text> 
                    <input id="ffp_dur" style="font-size: 16pt; width: 100%; margin-bottom: 12px;"/>
    
                    <div onclick="ffpCalibration()" class="button navy flexbox column squarish" style="font-size: 16pt; padding: 8px; text-align: center;; margin-bottom: 8px;">
                        <div><b>Run Calibration Program</b></div>
                    </div> 
    
                    <div style="font-size: 18pt;"><b>Most Recent Values</b></div>
                    <div style="flex: 0 1 100%; display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 12px;">
                        <div>
                            <div style="font-size: 18pt;">Average<br>Angular Velocity</div>
                            <div id="avg_w" style="font-size: 50pt; line-height: 46pt;">--</div>
                            <div>degrees/second</div>
                        </div>
                        <div>
                            <div style="font-size: 18pt;">Average<br>Left FFPM</div>
                            <div id="avg_ffpmL" style="font-size: 50pt; line-height: 46pt;">--</div>
                        </div>                    
                        <div>
                            <div style="font-size: 18pt;">Average<br>Right FFPM</div>
                            <div id="avg_ffpmR" style="font-size: 50pt; line-height: 46pt;">--</div>
                        </div>
    
                        <div onclick="buttonDown('printCSV')" class="button sapphire flexbox column squarish" style="font-size: 16pt; padding: 8px; text-align: center;">
                            <b>Print CSV</b>
                        </div> 
                        <div onclick="buttonDown('remLast')" class="button royal flexbox column squarish" style="font-size: 16pt; padding: 8px; text-align: center;">
                            <b>Remove Last Pair</b>
                        </div> 
                    </div>
                </div>
            </div> -->
        </div>
        <div style="padding: 0px; margin: 0px">
            <div style="text-align: center; background: white; padding: 8px; margin: 0px 0px 16px 0px">
                <div>
                    <b style="font-size: 20pt; margin-bottom: 4px;">Step 2: Velocity-Based Components</b>
                </div>
                The following elements are based on the velocities of the drive sides in various scenarios.

                <div onmousedown='buttonDown("resetMaxSpeed")' class="button navy" style="flex: 0 0 auto; border-radius: 12px; padding: 10px 14px; margin: 12px 0px 8px;">
                    <b>Reset Values</b>
                </div> 
                
                <table cellspacing="4px" style="width: 100%; font-size: 18pt; text-align: center;">
                    <tr>
                        <td colspan="2">
                            <b style="font-size: 20pt;">Part I: Maximum Speed</b>
                            <div style="font-size: 14pt;">
                                Place the robot on the ground. Drive the robot in place by turning the joystick hard to the left; reset, then turn hard to the right. Take a value comfortably less than the least of the four speeds as the maximum speed for autonomous driving.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Left</div>
                            <div id="left_max_speed" style="font-size: 60pt; line-height: 50pt;">0.0</div>
                            nu/100ms
                        </td>
                        <td>
                            <div>Right</div>
                            <div id="right_max_speed" style="font-size: 60pt; line-height: 50pt;">0.0</div>
                            nu/100ms
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <b style="font-size: 20pt;">Part II: MotionMagic Feed-Forward Power</b>
                            <div style="font-size: 14pt;">
                                Place the robot on blocks. Drive the robot at maximum motor power; ensure to try a variety of twists to sweep the full range of motion.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Left</div>
                            <div id="left_calculated_kf" style="font-size: 60pt; line-height: 50pt;">--</div>
                        </td>
                        <td>
                            <div>Right</div>
                            <div id="right_calculated_kf" style="font-size: 60pt; line-height: 50pt;">--</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <b style="font-size: 20pt;">Part III: Speed Scalars</b>
                            <div style="font-size: 14pt;">
                                Place the robot on the ground. Drive the robot maximum motor power; ensure to try a variety of twists to sweep the full range of motion.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Left</div>
                            <div id="left_scalar" style="font-size: 60pt; line-height: 50pt;">1.0</div>
                        </td>
                        <td>
                            <div>Right</div>
                            <div id="right_scalar" style="font-size: 60pt; line-height: 50pt;">1.0</div>
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
        <div style="padding: 0px; margin: 0px">
            <!-- <div style="text-align: center; background: white;  padding: 8px; margin: 0px 0px 16px 0px;">
                <b style="font-size: 20pt; margin-bottom: 4px;">Step 3: Effective Wheelbase</b>
                <br>
                To determine the effective wheelbase of the robot, change the left and right applied powers and run the program. Run the program a couple of times to get a feel for what the ballpark wheelbase should be.
                <br><br>
                Then, only add values in this range to the average (throw out anything that seems like an outlier). 
                <br><br>

                <div style="flex: 0 1 100%; display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 12px; margin-bottom: 8px;">
                    <div>
                        <text style="font-size: 24pt">Left Power</text>
                        <br>
                        <input id="l_pow" style="font-size: 24pt; width: 100%"/>
                    </div>
                    <div>
                        <text style="font-size: 24pt">Right Power</text>
                        <br>
                        <input id="r_pow" style="font-size: 24pt; width: 100%"/>
                    </div>
                </div>

                <text style="font-size: 16pt">Duration (ms):</text> 
                <input id="wb_dur" style="font-size: 16pt; width: 100%; margin-bottom: 12px;"/>

                <div onclick="wheelbase()" class="button navy flexbox column squarish" style="font-size: 16pt; padding: 8px; text-align: center;; margin-bottom: 24px;">
                    <div><b>Run Calibration Program</b></div>
                </div> 

                <div style="flex: 0 1 100%; display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 12px;">
                    <text style="font-size: 18pt;">Most Recent<br>Wheelbase</text>
                    <text style="font-size: 18pt;">Running Average<br>Wheelbase</text>

                    <div>
                        <div id="prev_wb" style="font-size: 50pt; line-height: 46pt;">--</div>
                        inches
                    </div>                    
                    <div>
                        <div id="avg_wb" style="font-size: 50pt; line-height: 46pt;">--</div>
                        inches
                    </div>

                    <div onclick="buttonDown('add_wb_to_avg')" class="button sapphire flexbox column squarish" style="font-size: 16pt; padding: 8px; text-align: center;">
                        <div><b>Add to Average</b></div>
                    </div> 
                    <div onclick="buttonDown('reset_wb_avg')" class="button royal flexbox column squarish" style="font-size: 16pt; padding: 8px; text-align: center;">
                        <div><b>Reset Average</b></div>
                    </div> 
                </div>
            </div> -->
            
            <div style="background: white; padding: 8px; margin: 0px 0px 16px 0px">
                <div style="text-align: center;">
                    <b style="font-size: 20pt; margin-bottom: 4px;">Step 3: MotionMagic PID</b>
                    
                    <div onmousedown='buttonDown("pidCalDrive")' class="button navy" style="flex: 0 0 auto; border-radius: 12px; padding: 10px 14px;">
                        <b>100 inch Drive Test</b>
                    </div> 
                </div>

                <ol>
                    <li>Measure and mark a distance of 100 inches.</li>
                    <li>Use the feed-forward constants determined in step 2</li>
                    <li>Press the button to run the MotionMagic drive 100 inches program.</li>
                    <li>Increase the Motion Profile P gain in until the robot travels exactly 100 inches with no overshoot.</li>
                    <li>With P gain properly tuned, you may need to add a small amount of D gain to reduce overshoot and oscillations.</li>
                </ol>

                <div style="text-align: center;">
                    <b style="font-size: 18pt; margin-bottom: 4px;">Left</b>
                </div>

                <div style="flex: 0 1 100%; display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 8px; font-size: 18pt;">
                    <div class="flexbox row" style="align-items: center;">
                        <div style="margin-right: 4px;">kF:</div>
                        <input id="l_mp_f" style="font-size: 24pt; flex: 1 1 100%" />
                    </div>
                    <div class="flexbox row" style="align-items: center;">
                        <div style="margin-right: 4px;">kP:</div>
                        <input id="l_mp_p" style="font-size: 24pt; flex: 1 1 100%" />
                    </div>
                    <div class="flexbox row" style="align-items: center;">
                        <div style="margin-right: 4px;">kI:</div>
                        <input id="l_mp_i" style="font-size: 24pt; flex: 1 1 100%" />
                    </div>
                    <div class="flexbox row" style="align-items: center;">
                        <div style="margin-right: 4px;">kD:</div>
                        <input id="l_mp_d" style="font-size: 24pt; flex: 1 1 100%" />
                    </div>
                </div>

                <div style="text-align: center;">
                    <b style="font-size: 18pt; margin-bottom: 4px;">Right</b>
                </div>

                <div style="flex: 0 1 100%; display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 8px; font-size: 18pt;">
                    <div class="flexbox row" style="align-items: center;">
                        <div style="margin-right: 4px;">kF:</div>
                        <input id="r_mp_f" style="font-size: 24pt; flex: 1 1 100%" />
                    </div>
                    <div class="flexbox row" style="align-items: center;">
                        <div style="margin-right: 4px;">kP:</div>
                        <input id="r_mp_p" style="font-size: 24pt; flex: 1 1 100%" />
                    </div>
                    <div class="flexbox row" style="align-items: center;">
                        <div style="margin-right: 4px;">kI:</div>
                        <input id="r_mp_i" style="font-size: 24pt; flex: 1 1 100%" />
                    </div>
                    <div class="flexbox row" style="align-items: center;">
                        <div style="margin-right: 4px;">kD:</div>
                        <input id="r_mp_d" style="font-size: 24pt; flex: 1 1 100%" />
                    </div>
                </div>

                <div onclick='pushDrivePID()' class="button pacific" style="border-radius: 12px; margin: 12px 0px 0px 0px; padding: 10px 14px; text-align: center">
                    <div><b>Save PID Constants</b></div>
                </div> 
            </div>
        </div>
    </div>
</div>