<script>
    var pid_ids, pid_vals;

    function initDCU() {
        pid_ids = [/*'l_f',*/ 'l_mp_p', 'l_mp_i', 'l_mp_d', /*'l_v_p', 'l_v_i', 'l_v_d'*/
            /*'r_f',*/ 'r_mp_p', 'r_mp_i', 'r_mp_d' /*, 'r_v_p', 'r_v_i', 'r_v_d'*/];

        pid_vals =  [-1, -1, -1, -1, -1, -1];
    }

    function updateDCU() {
        updatePID(json);

        setNumber('wheelCirc', 2);

        setNumber('left_max_speed', 0);
        setNumber('right_max_speed', 0);

        setNumber('leftSpeedScalar', 3);
        setNumber('rightSpeedScalar', 3);

        setNumber('avg_wb', 2);
        setNumber('prev_wb', 1);

        setNumber('avg_w', 2);
        setNumber('avg_ffpmL', 6);
        setNumber('avg_ffpmR', 6);
    }

    function updatePID(json) {
        for (var i = 0; i < 7; i++) {
            if (pid_vals[i] != json[pid_vals[i]]) {
                pid_vals[i] = json[pid_vals[i]];
                
                getElement(pid_ids[i]).value = Number(pid_vals[i]).toFixed(4);
            }
        }
    }

function pushPID() {
    sendNum('drivePID', getPIDConstants());
}

function getPIDConstants() {
    var data = "";

    for (var i = 0; i < pid_ids.length; i++) {
        data += getElement(pid_ids[i]).value;

        if (i != pid_ids.length - 1) {
            data += ',';
        }
    }

    return data;
}

function wheelbase() {
    sendNum('calc_wb', getElement('l_pow').value + ',' + getElement('r_pow').value + ',' + getElement('wb_dur').value);
}
function ffpCalibration() {
    sendNum('calc_ffp', getElement('l_pow_ffp').value + ',' + getElement('r_pow_ffp').value + ',' + getElement('ffp_dur').value);
}

</script>
