<div class="shooter_info">
    <div id="shooter_info" class="flexbox column container shooter_box">
        <p class="shooter_title" >Shooter</p>
        <div class="flexbox row white shooter_rpm_box">
            <span class="debug_key">RPM:</span>
            <span id="rpm_display" class="debug_value">0</span>
        </div>

        <div id="range_bar" class="flexbox column">
            <img id="range_indicator" src="/garrison/black_triangle.png" style="width: 15px; height: 20px; margin-right: 0%; margin-left: 0%;">
        </div>
        <!-- <div class="flexbox row" style="align-items: center; justify-content: center; border-radius: 16px; margin: 0px 10px 10px 10px">
            <span id="long_range" class="flexbox column red" style="width: 33%; align-items: center;">Long</span>
            <span id="mid_range" class="flexbox column gold" style="width: 33%; align-items: center;">Mid</span>
            <span id="short_range" class="flexbox column green" style="width: 33%; align-items: center;">Short</span>
        </div> -->
    </div> 

    <div class="royal flexbox column auto_info">
        <div class="auto_box">
            <div class = "auto_options">
                <p class="auto_title">Selected Auto:</p> 
                <p id="selected_auto" class="auto_selected">Not connected.</p>
                <div onclick='toggle_menu("auto")' class="button sapphire auto_choose">Choose</div>
            </div>     
            <img id="auto_img" src=""></img> 
        </div>
        
    <!-- Selection / Allows you to select the Auto-Program to load /-->
        <div id="auto_list">
            <div id="auto_choice_none" onclick='menu_select("auto",-1)' class="button sapphire auto_choice_none">
                None
            </div>
        </div>
    </div>
</div> 