<div style="width: 100%; flex: 0 0 auto; display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 12px; margin-bottom: 12px;">
    <div id="cargo_indicator" class="button squarish grey">
        <img src="/gromit/cargo.png" style="width: 160px;"/>
        Cargo
    </div>
    <div id="hatch_panel_indicator" class="button squarish green">
        <img src="/gromit/hatchpanel.png" style="width: 160px;"/>
        Hatch Panel
    </div>
</div>
<div id="ship_indicator" class="button grey squarish" style="margin-top: 18px; height: 84px; text-align: center; font-size: 22pt;">
    Cargo Ship
</div>
