<ul>
    <li><a {% if page.url == "/{{ robot.name }}/" %}class="active"{% endif %} href="/{{ robot.name }}">Dashboard</a></li>
    <li><a {% if page.url == "/{{ robot.name }}/suite/" %}class="active"{% endif %} href="/{{ robot.name }}/suite">Test Suite</a></li>
    <li><a {% if page.url == "/{{ robot.name }}/pid/" %}class="active"{% endif %} href="/{{ robot.name }}/pid">PID</a></li>
    <li><a {% if page.url == "/{{ robot.name }}/visionsuite/" %}class="active"{% endif %} href="/{{ robot.name }}/visionSuite">Vision Suite</a></li>
</ul>