<div class="flexbox column squash" style="flex: 0 1 100%; align-items: stretch; padding: 16px; overflow: hidden">    
    <div class="stream" style="text-align: center; flex: 0 0 auto; border-radius: 12px; padding: 20px; margin-bottom: 10px;">
        <div id="limelight_conn_button" onclick='toggleToSelectedLimelight("limelight_conn_button")' class="button red" style="width: 40%; border-radius: 6px; padding: 10px; padding-left: 14px; padding-right: 14px; display: inline-block;">
            <font id="limelight_conn_button_text" style="font-size: 20; font-weight: 700">Connect To Limelight</font>
        </div>
        <div id="cam_conn_button" onclick='toggleCamConnection("http://roborio-3128-frc.local:1181/stream.mjpg","camera_stream", "cam_conn_button")' class="button red" style="width: 40%; border-radius: 6px; padding: 10px; padding-left: 14px; padding-right: 14px; margin-bottom: 10px; display: inline-block;">
            <font id="cam_conn_button_text" style="font-size: 20; font-weight: 700">Connect To Camera</font>
        </div>

        <div class="stream" style="text-align: center; flex: 0 0 auto; border-radius: 12px; margin-bottom: 10px;"></div>
            <table id="camera-div">
                <tr>
                    <img id="limelight_stream" style="width: 50%; margin: auto; margin-top: 10px; display: none;" src="" src="">
                    <img id="camera_stream" style="width: 50%; margin: auto; margin-top: 10px; display: none;" src="">
                </tr>
            </table>
               
        </div>

    </div> 
</div>