<div style="flex: 0 0 240px; margin-bottom: 12px; text-align: center; padding: 20px; padding-right: 4px; padding-left: 4px; font-size: 20pt">
    <b>Rocket<br>Scoring Height</b>
    <div id="top_indicator" class="button grey" style="height: 20%; border-radius: 12px; padding: 8px; margin-top: 8px; margin-bottom: 8px;">
        High
    </div>
    <div id="mid_indicator" class="button green" style="height: 20%; border-radius: 12px; padding: 8px; margin-bottom: 8px;">
        Middle
    </div>
    <div id="low_indicator" class="button grey" style="height: 20%; border-radius: 12px; padding: 8px; margin-bottom: 8px;">
        Low
    </div>
</div>

<div class="flexbox column squash" style="flex: 0 1 100%; align-items: stretch; padding: 0px; padding: 16px">
    <div style="flex: 0 0 auto; display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 12px; margin-bottom: 12px;">
        <div onclick='buttonDown("fourbar_cargo_intake")' class="button navy squarish h150">
            <b>Four Bar</b>
            Cargo Intake
        </div>
        <div onclick='buttonDown("fourbar_low")' class="button royal squarish h150">
            <b>Four Bar</b>
            Low
        </div>
        <div onclick='buttonDown("fourbar_high")' class="button sapphire squarish h150">
            <b>Four Bar</b>
            High
        </div>
        <div onclick='buttonDown("lift_low")' class="button pacific squarish h150">
            <b>Lift</b>
            Low
        </div>
        <div onclick='buttonDown("lift_mid")' class="button sapphire squarish h150">
            <b>Lift</b>
            Mid
        </div>
        <div onclick='buttonDown("lift_top")' class="button royal squarish h150">
            <b>Lift</b>
            Top
        </div>
    </div>
    
    
    <div class="stream" style="text-align: center; flex: 0 0 auto; border-radius: 12px; padding: 20px; margin-bottom: 10px;">
        <div id="cam_conn_button" onclick='toggleCamConnection()' class="button red" style="flex: 0 0 auto; border-radius: 6px; padding: 10px; padding-left: 14px; padding-right: 14px;">
            <font id="cam_conn_button_text" style="font-size: 20; font-weight: 700">Connect To Camera</font>
        </div> 
        
        <div id="cameraDiv">
            <img id="cameraStream" style="width:61vh; margin: 0 auto; border-radius: 6px; padding: 14px; padding-left: 14px; padding-right: 14px; display: none;" src="">
        </div>
        
    </div> 
</div>