<div style="flex: 0 0 240px; margin-bottom: 12px; text-align: center; padding: 20px; padding-right: 4px; padding-left: 4px; font-size: 20pt">
    <b>Rocket<br>Scoring Height</b>
    <div id="top_indicator" onclick='buttonDown("setTarget_rocket_top")' class="button grey" style="height: 20%; border-radius: 12px; padding: 8px; margin-top: 8px; margin-bottom: 8px;">
        High
    </div>
    <div id="mid_indicator" onclick='buttonDown("setTarget_rocket_mid")' class="button green" style="height: 20%; border-radius: 12px; padding: 8px; margin-bottom: 8px;">
        Middle
    </div>
    <div id="low_indicator" onclick='buttonDown("setTarget_rocket_low")' class="button grey" style="height: 20%; border-radius: 12px; padding: 8px; margin-bottom: 8px;">
        Low
    </div>
</div>

<div class="flexbox column squash" style="flex: 0 1 100%; align-items: stretch; padding: 0px; padding: 16px">
    <div class="flexbox row">
        <div id="gear_indicator" class="button orange squarish" style="flex: 1 0 10%; justify-content: center; font-size: 36pt; text-align: center; padding: 8px; margin-bottom: 12px; margin-right: 12px;">
            Low<br>Gear
        </div>
        <div class="flexbox column" style="flex: 1 0 auto">
            <div style="flex: 0 0 auto; display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 12px; margin-bottom: 12px">
                <div onclick='buttonDown("climb_12")' class="button navy squarish h150">
                    <b>Climb</b>
                    Depot/HAB1 to HAB2
                </div>
                <div onclick='buttonDown("climb_23")' class="button royal squarish h150">
                    <b>Climb</b>
                    HAB2 to HAB3
                </div>
            </div>
            
            <div onclick='buttonDown("cancel_climb")' class="button red squarish" style="text-align: center; font-size: 16pt; padding: 8px;margin-bottom: 12px;">
                Cancel Climb
            </div>
        </div>
    </div>
    
    <div class="flexbox row">
        <div class="flexbox column" style="flex: 2 1 auto">
            <div style="font-size: 22pt; text-align: center; margin-bottom: 4px;">
                <b>Limelight Connection Status</b>
            </div> 
            <div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 4px;">
                <div id="top_ll_indic" style="margin: 0px 8px 8px 0px; text-align: center;" class="button red navy squarish">
                    Top
                </div>
                <div id="bot_ll_indic" style="margin: 4px 8px 8px 0px; text-align: center;" class="button red navy squarish">
                    Bottom
                </div>
            </div>  
            <div style="display: grid; grid-template-columns: 1; grid-gap: 4px;">
                <div id="align_indic" style="margin: 4px 8px 8px 0px; text-align: center;" class="button h200 yellow navy squarish">
                    Alignment Status
                </div>
            </div>              
        </div>
        <div class="stream" style="text-align: center; flex: 5 0 500px; border-radius: 12px; padding: 20px; margin-bottom: 10px;">
            <div id="cam_conn_button" onclick="toggleCamConnection('10.31.28.22:5800')" class="button red" style="flex: 0 0 auto; border-radius: 6px; padding: 10px; padding-left: 14px; padding-right: 14px;">
                <font id="cam_conn_button_text" style="font-size: 20; font-weight: 700">Connect To Camera</font>
            </div> 
            
            <div>
                <img id="top_stream" style="width: 100%; margin: 8px 0px 0px 0px; display: none;" src="">
            </div>
            <!--
                <div>
                <img id="bottom_stream" style="width: 100%; margin: 8px 0px 0px 0px; display: none;" src="">
            </div>
            -->
        </div> 
    </div>
    
</div>