<!-- Limelight Connection / Livestream (LL) / Button /-->
<div class="flexbox_column_squash">    
    <div class="stream">
        <div id="limelight_conn_button" class="limelight_conn_button" onclick="toggleToSelectedLimelight()">
            <p id="limelight_conn_button_text" class="limelight_conn_button_text">Connect To Limelight</p>
        </div>
        <div id="cam_conn_button" onclick='toggleCamConnection("http://roborio-3128-frc.local:1181/stream.mjpg","camera_stream", "cam_conn_button")' class="button red" style="width: 40%; border-radius: 6px; padding: 10px; padding-left: 14px; padding-right: 14px; margin-bottom: 10px; display: inline-block;">
            <font id="cam_conn_button_text" style="font-size: 20; font-weight: 700">Connect To Camera</font>
        </div>

        <!-- Limelight Connection / Image /-->
        <div id="camera_div" class="camera_div">
            <img id="limelight_stream" class="limelight_stream" src="">
        </div>

        <!-- Camera Connection / Image - Box /-->
        <div id="camera_div" class="camera_div">
            <img id="camera_stream" class="camera_stream" src="">
        </div>

        <!-- Limelight / Toggle Button/Dropdown - Selection /-->
         <div class="limelight">
            <div class="limelight_dropdown">
                <p class="limelight_dropdown_text">Selected Limelight:</p>
                <p id="limelight_dropdown_selected" class="limelight_selected">Not connected.</p>  
                <div class="limelight_dropdown_button" onclick='toggleLimelightMenu()'>Choose</div>      
            </div>

            <div id="limelight_list">
                <div class="limelight_list_button" id="limelight_list_button" onclick="select_limelight(-1)">
                    None
                </div>
            </div>
        </div>

        <!-- Pipeline Menu Selection / (None, GRIP, ZOOM, CAM, etc.) /-->
        <div class="pipeline">
            <div class="pipeline_menu">
                <p class="pipeline_menu_text">Selected Pipeline:</p>
                <p id="pipeline_menu_selected" class="pipeline_menu_selected">Not connected.</p>  
                <div onclick='togglePipelineMenu()' class="pipeline_menu_button">Choose</div>      
            </div>
            <div id="pipeline_list" class="pipeline_list">
                <div id="pipeline_list_button" class="pipeline_list_button" onclick="select_pipeline(-1)">
                    None
                </div>
            </tr>
        </table>
    </div> 
</div>