<script>
    var battGauge;
    var tx;
    var ty;
    
    function updateData(json) { 
        battGauge.value = json['voltage'];
        battGauge.draw();

        sel_auto = json['selected_auto']
        if (sel_auto == "null") {
            sel_auto = "None";
        }
        sel_limelight = json['selected_limelight']
        if (sel_limelight == "null") {
            sel_limelight = "None";
        }
        sel_pipeline = json['selected_pipeline']
        if (sel_pipeline == undefined) {
            sel_pipeline = "None";
        }

        //toggleToSelectedLimelight();

        setInner('selected_auto', sel_auto);
        setInner('selected_limelight', sel_limelight);
        setInner('selected_pipeline', sel_pipeline);

        // Update match time (rapid react games are 2:30 or 150s long)

        // As per the Timer docs:
        // At the beginning of autonomous, the time is reset to 0.0 seconds.
        // At the beginning of teleop, the time is reset to +15.0 seconds.
        // If the robot is disabled, this returns 0.0 seconds.

        var time = Number(json['time']).toFixed(0);
        
        setInner('match_time', 150 - time);

        if(time == 1) {
            changeState("AUTO");
        }else if(time == 15) {
            changeState("TELEOP");
        }else if(time == 120) {
            changeState("ENDGAME");
        }else if(time == 0) {
            changeState("DISABLED");
        }

        refresh(json);
    }

    function bodyLoad() {
        {% for robot in site.data.robots %}
            {% if robot.name == page.robot %}
                {% for tab in robot.tabs %}
                    getElement("{{ tab.id }}").classList.add('invisible');
                {% endfor %}
            {% endif %}
        {% endfor %}

        setTab('dashboard');

        battGauge = makeGauge('batt_gauge', 160, 0, 15, [0,3,6,9,12,15], 3, [
            {from:  0, to:  8, color: "#d60000"},
            {from:  8, to: 12, color: "#efdb00"},
            {from: 12, to: 15, color: "#41c603"}
        ], "white", "white", "#0085b2", 2, 32);
        battGauge.value = 0;
        battGauge.draw();

        initialize();

        addUpdater(updateData);
    }
</script>

<script src="/{{ page.robot }}/functions.js"></script>
