<script>
    var battGauge;
    var tx;
    var ty;
    var match_start = false;
    const match_length = 150;

    
    function updateData(json) { 
        battGauge.value = debugData.get("voltage");
        battGauge.draw();

        sel_auto = json['selected_auto']
        if (sel_auto == null) {
            sel_auto = "None";
        }
        sel_limelight = json['selected_limelight']
        if (sel_limelight == null) {
            sel_limelight = "None";
        }
        sel_pipeline = json['selected_pipeline']
        if (sel_pipeline == undefined) {
            sel_pipeline = "None";
        }

        //toggleToSelectedLimelight();

        setInner('selected_auto', sel_auto);
        setInner('selected_limelight', sel_limelight);
        setInner('selected_pipeline', sel_pipeline);

        // Update match time (rapid react games are 2:30 or 150s long with 30 allocated for endgame)

        var time = Number(debugData.get("time")).toFixed(0);
        
        setInner('match_time', Math.floor(time/60)+":"+(time%60).toString().padStart(2,'0'));

        if(time == 15 &! match_start){
            changeState("AUTO");
        }else if(time == 135) {
            changeState("TELEOP");
            match_start = true;
        }else if(time == 30) {
            changeState("ENDGAME");
        }else if(time == 0) {
            changeState("DISABLED");
            match_start = false;
        }

        var rpm = Number(debugData.get("rpm")).toFixed(0);

        setInner('rpm_display', rpm);

        var range = debugData.get("range");

        // scale range from min to max (inches) [ 0 , 100 ]
        // TODO: get actual numbers
        var max = 100;
        var min = 0;

        range -= min;
        range /= (max - min);

        getElement('range_indicator').style.margin = "0 "+range*100+"% 0 "+(100-range*100)+"%";

        refresh(json);
    }

    function bodyLoad() {
        {% for robot in site.data.robots %}
            {% if robot.name == page.robot %}
                {% for tab in robot.tabs %}
                    getElement("{{ tab.id }}").classList.add('invisible');
                {% endfor %}
            {% endif %}
        {% endfor %}

        setTab('dashboard');

        battGauge = makeGauge('batt_gauge', 160, 0, 15, [0,3,6,9,12,15], 3, [
            {from:  0, to:  8, color: "#d60000"},
            {from:  8, to: 12, color: "#efdb00"},
            {from: 12, to: 15, color: "#41c603"}
        ], "white", "white", "#0085b2", 2, 32);
        battGauge.value = 0;
        battGauge.draw();

        initialize();

        addUpdater(updateData);
    }
</script>

<script src="/{{ page.robot }}/functions.js"></script>
