<script>
    var battGauge;
    var tx;
    var ty;
    var match_start = false;
    var prev_auto;
    var range_list = [];
    var battery_list = [];
    const max_range = 100;
    const min_range = 0;
    const match_length = 150;
    const odo_to_pixel = 1859/16.5;

    const robot_img = new Image();
    robot_img.src = "/fields/robot.png"

    const field_img = new Image(); 
          field_img.src = "/fields/2022-field.png";
          field_img.onload = function() {
              let can = getElement('field');
              can.width = field_img.width;
              can.height = field_img.height;
          }
    
    function updateData(json) { 

        // ------------------------------------------------
        // Update Debug -----------------------------------
        // ------------------------------------------------

        let debugVals = json['debug'];

        let visibility = menuData.get('debug')[0];
        let debugMap = menuData.get('debug')[1];

        debugVals.forEach((obj) => {
            //Add Row for debug element if it doesn't exist

            let key = obj["key"];
            let value = obj["value"];

            if(!debugElements.has(key)) {
                createDebugElement(key);
            }
            
            //Set the Value in the Row
            let elList = debugElements.get(key).getElementsByClassName("debug_value");
            if(elList.length > 0) elList[0].innerHTML = value;

            debugMap.set(key, value);
        });

        menuData.set('debug',[visibility, debugMap]);

        let debugData = menuData.get('debug')[1];

        // ------------------------------------------------
        // Update Constants Editor ------------------------
        // ------------------------------------------------

        // ------------------------------------------------
        // Update Menus -----------------------------------
        // ------------------------------------------------

        sel_auto = json['selected_auto']
        if (sel_auto == null) {
            sel_auto = "None";
        }
        sel_limelight = json['selected_limelight']
        if (sel_limelight == null) {
            sel_limelight = "None";
        }
        sel_pipeline = json['selected_pipeline']
        if (sel_pipeline == undefined) {
            sel_pipeline = "None";
        }

        setInner('selected_auto', sel_auto);
        // setInner('selected_limelight', sel_limelight);
        // setInner('selected_pipeline', sel_pipeline);

        // ------------------------------------------------
        // Update Battery Gauge ---------------------------
        // ------------------------------------------------
        
        let voltage = debugData.get("voltage");

        battGauge.value = voltage;
        battGauge.draw();

        if(battery_list.length == 100){
            battery_list.splice(0,1);
        }
        battery_list.push(voltage)

        let avg = 0;
        for(let b of battery_list){
            avg+=Number(b);
        }
        avg/=battery_list.length;

        getElement('battery').classList.remove('blinking');
        if(avg < 12.2){
            getElement('battery').classList.add('blinking');
        }

        // ------------------------------------------------
        // Update Match State -----------------------------
        // ------------------------------------------------

        // Update match time (rapid react games are 2:30 or 150s long with 30 allocated for endgame)

        var time = Number(debugData.get("time")).toFixed(0);
        
        setInner('match_time', Math.floor(time/60)+":"+(time%60).toString().padStart(2,'0'));

        if(time == 15 &! match_start){
            changeState("AUTO");
        }else if(time == 135) {
            changeState("TELEOP");
            match_start = true;
        }else if(time == 30) {
            changeState("ENDGAME");
        }else if(time == 0) {
            changeState("DISABLED");
            match_start = false;
        }

        // ------------------------------------------------
        // Update Shooter Display -------------------------
        // ------------------------------------------------

        let rpm = Number(debugData.get("rpm")).toFixed(0);

        setInner('rpm_display', rpm);

        let range = debugData.get("range");

        getElement('range_indicator').style.display = "block";
        getElement('shooter_info').classList.remove("blinking");
        if(range <= -1){
            getElement('range_indicator').style.display = "none";
            getElement('shooter_info').classList.add("blinking");
        }

        // scale range from min to max (inches) [ 0 , 100 ]

        range -= min_range;
        range /= (max_range - min_range);

        if(range > 1){
            range = 1;
        }else if(range < 0){
            range = 0;
        } 

        if(range_list.length == 10){
            range_list.splice(0,1);
        }
        range_list.push(range);

        avg = 0;
        for(let r of range_list){
            avg+=r;
        }
        avg/=range_list.length;

        getElement('range_indicator').style.margin = "0 "+avg*100+"% 0 "+(100-(avg*100))+"%";

        // ------------------------------------------------
        // Update Auto Display ----------------------------
        // ------------------------------------------------

        let curr_auto = getElement('selected_auto').innerHTML;

        if(!(curr_auto === prev_auto)){
            getElement('auto_img').style.display = "flex";
            getElement('auto_img').style.width = "100%";
            getElement('auto_img').src = "/garrison/autos/"+curr_auto+".png";
        }
        if (curr_auto === "None") {
            getElement('auto_img').style.display = "none";
        }

        prev_auto = curr_auto;

        // ------------------------------------------------
        // Update Pose Tracker ----------------------------
        // ------------------------------------------------

        if(current_tab === "poseTracker"){
            drawField(debugData.get('x'),debugData.get('y'),debugData.get('theta'));
        }

        // ------------------------------------------------
        // ------------------------------------------------
        // ------------------------------------------------

        refresh(json);
    }

    function drawField(x,y,theta){
        let field = getElement('field');
        let context = field.getContext('2d');

        context.clearRect(0,0,field.width,field.height);

        context.drawImage(field_img,0,0,field_img.width,field_img.height,0,0,field.width,field.height);

        context.save();

        context.translate(x * odo_to_pixel + robot_img.width/2, 949 - (y * odo_to_pixel + robot_img.height/2));

        context.rotate(-theta+Math.PI/2);

        context.drawImage(robot_img, -robot_img.width/2, -robot_img.height/2);

        context.restore();
    }

    function bodyLoad() {
        {% for robot in site.data.robots %}
            {% if robot.name == page.robot %}
                {% for tab in robot.tabs %}
                    getElement("{{ tab.id }}").classList.add('invisible');
                {% endfor %}
            {% endif %}
        {% endfor %}

        setTab('dashboard');

        battGauge = makeGauge('batt_gauge', 160, 0, 15, [0,3,6,9,12,15], 3, [
            {from:  0, to:  8, color: "#d60000"},
            {from:  8, to: 12, color: "#efdb00"},
            {from: 12, to: 15, color: "#41c603"}
        ], "white", "white", "#0085b2", 2, 32);
        battGauge.value = 0;
        battGauge.draw();

        initialize();

        addUpdater(updateData);
    }
</script>

<script src="/{{ page.robot }}/functions.js"></script>
