// Fonts
@font-face {
    font-family: 'Open Sans';
    src: url('/../assets/open-sans.ttf');
}

body {
    font-family: 'Open Sans';
}


// Container Magic
.squash {
    padding: 0px;
    margin: 0px;
}

.thicc {
    width: 100%;
    height: 100%;
}

.flexbox {
    display: flex;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}


// Backgrounded Thingies
.navy {
    background: $navy;
    color: white;
}

.royal {
    background: $royal;
    color: white;
}

.sapphire {
    background: $sapphire;
    color: white;
}

.pacific {
    background: $pacific;
    color: white;
}

.red {
    background: $red;
    color: white;
}

.orange {
    background: $orange;
    color: white;
}

.green {
    background: $green;
    color: white;
}


// Buttons
.button {
    &:hover {
        cursor: pointer;
    }


    &.navy:hover {
        background: darken($navy,       $darken-amount);
    }
    
    &.royal:hover {
        background: darken($royal,      $darken-amount);
    }
    
    &.sapphire:hover {
        background: darken($sapphire,   $darken-amount);
    }
    
    &.pacific:hover {
        background: darken($pacific,    $darken-amount);
    }


    &.red:hover {
        background: darken($red,        $darken-amount);
    }
    
    &.orange:hover {
        background: darken($orange,     $darken-amount);
    }
    
    &.green:hover {
        background: darken($green,      $darken-amount);
    }
}