// Fonts
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/open-sans.ttf');
}

body {
    font-family: 'Open Sans';
}

// Disconnected cover
.cover {
    background-color: black;

    width: 100%;
    height: 100%;
    
    display: block;
    position: absolute;

    opacity: 0.7;

    z-index: 20;
}

// Container Magic
.squash {
    padding: 0px;
    margin: 0px;
}

.thicc {
    width: 100%;
    height: 100%;
}

.flexbox {
    display: flex;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}


// Backgrounded Thingies
.navy {
    background: $navy;
    color: white;
}

.royal {
    background: $royal;
    color: white;
}

.sapphire {
    background: $sapphire;
    color: white;
}

.pacific {
    background: $pacific;
    color: white;
}

.red {
    background: $red;
    color: white;
}

.orange {
    background: $orange;
    color: white;
}

.green {
    background: $green;
    color: white;
}

.white {
    background: white;
}

.grey {
    background: grey;
    color: white;
}


// Buttons
.button {
    &:hover {
        cursor: pointer;
    }

    &.squarish {
        display: flex;
        flex-direction: column;
    
        justify-content: flex-end;
    
        text-align: right;
        border-radius: 12px;
        padding: 20px;
    
        font-size: 22pt;

        &.h150 {
            height: 150px;
        }

        &.h100 {
            height: 100px;
        }

        &.h200 {
            height: 200px;
        }
    }

    &.navy:hover {
        background: darken($navy,       $darken-amount);
    }
    
    &.royal:hover {
        background: darken($royal,      $darken-amount);
    }
    
    &.sapphire:hover {
        background: darken($sapphire,   $darken-amount);
    }
    
    &.pacific:hover {
        background: darken($pacific,    $darken-amount);
    }


    &.red:hover {
        background: darken($red,        $darken-amount);
    }
    
    &.orange:hover {
        background: darken($orange,     $darken-amount);
    }
    
    &.green:hover {
        background: darken($green,      $darken-amount);
    }

    &.grey:hover {
        background: darken(grey,      $darken-amount);
    }
}

input {
    width: 100px;
}

// Tabs
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul.tab_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.tab_bar li {
    float: left;
}

ul.tab_bar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 8px 16px;
}

ul.tab_bar li a:hover:not(.active) {
    background-color: #ddd;
}

ul.tab_bar li a.active {
    color: white;
    background-color: #1b1464;
}

.invisible {
    display: none;
}

input {
    border: none;
    background: #e9e9e9;
    padding: 2px;
}
.debug-title {
    width: 50%; 
    text-align: center; 
    font-weight: bold;
}
.debug-info {
    width: 50%; 
    text-align: center;
}