// Overall Flex Box
.left-garrison {
    width: 100%;
    flex: 0 0 auto;
    margin: 12px;
}

.stream {
    text-align: center;
    flex: 0 0 auto;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 10px;
}

#cam_conn_button {
    flex: 0 0 auto;
    border-radius: 6px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 10px;
}

#cam_conn_button_text {
    font-size: 20;
    font-weight: 700 
}

#camera_stream {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    display: none;
}

.royal_flex_box {
    align-items: stretch;
    flex-grow: 0;
    margin: 25px;
    margin-bottom: 0px;
    padding: 12px;
    border-radius: 16px;
}

#auto_menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 14pt;
}

#auto_menu p {
    font-weight: 300;
    margin-right: 8px;
}

#selected_auto {
    font-weight: 600;
    flex: 1 0 auto;
}

#toogle_menu {
    border-radius: 6px;
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;
}

.auto_list {
    display: none;
    margin-top: 10px;
}

#auto_choice_none {
    margin: 0px;
    margin-bottom: 4px;
    padding: 8px;
    border-radius: 6px;
}

#auto_img {
    display: none;
}

#flexbox-sapphire-row {
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding:5px;
    height: 30px;
    border-radius: 16px;
}
