.flexbox_column_squash {
    flex: 0 1 100%; 
    align-items: stretch; 
    padding: 16px; 
    overflow: hidden
}

.stream {
    text-align: center; 
    flex: 0 0 auto; 
    border-radius: 12px; 
    padding: 20px; 
    margin-bottom: 10px;
}

.limelight_conn_button {
    flex: 100 0 auto; 
    border-radius: 6px; 
    padding: 10px; 
    padding-left: 14px; 
    padding-right: 14px;
    width: 100%;
}

.limelight_conn_button_text {
    font-size: 20; 
    font-weight: 700;
}

.limelight_stream {
    width: 60%; 
    margin: auto; 
    margin-top: 10px; 
    display: none;
}

.camera_div {

}

.camera_stream {
    width:61vh; 
    margin: 0 auto; 
    border-radius: 6px; 
    padding: 14px; 
    padding-left: 14px; 
    padding-right: 14px; 
    display: none;
}

//limelight styling

.limelight {
    align-items: stretch; 
    flex-grow: 0; 
    margin: 12px; 
    margin-bottom: 0px;
    padding: 12px; 
    border-radius: 6px; 
    display: inline-block;
}

.limelight_dropdown {
    display: flex; 
    align-items: center; 
    flex-direction: row;
    color: white; 
    font-size: 14pt;
}

.limelight_dropdown_text {
    font-size: 20; 
    font-weight: 300; 
    margin-right: 8px;
}

.limelight_dropdown_selected {
    font-size: 20; 
    font-weight: 600; 
    flex: 1 0 auto;
}

.limelight_dropdown_button {
    margin-left: 10px; 
    border-radius: 6px; 
    padding: 4px; 
    padding-left: 14px; 
    padding-right: 14px;
}

.limelight_list {
    display: none; 
    margin-top: 10px;
}

.limelight_list_button {
    margin: 0px; 
    margin-bottom: 4px; 
    padding: 8px; 
    border-radius: 6px;
}

//pipeline styling
.pipeline {
    align-items: stretch; 
    flex-grow: 0; 
    margin: 12px; 
    margin-bottom: 0px; 
    padding: 12px; 
    border-radius: 6px; 
    display: inline-block; 
    vertical-align: top;
}

.pipeline_menu {
    display: flex; 
    align-items: center; 
    flex-direction: row; 
    color: white; 
    font-size: 14pt;
}

.pipeline_menu_text {
    font-size: 20; 
    font-weight: 300; 
    margin-right: 8px;
}

.pipeline_menu_selected {
    font-size: 20; 
    font-weight: 600; 
    flex: 1 0 auto;
}

.pipeline_menu_button {
    margin-left: 10px; 
    border-radius: 6px; 
    padding: 4px; 
    padding-left: 14px; 
    padding-right: 14px;
}

.pipeline_list {
    display: none; 
    margin-top: 10px;
}

.pipeline_list_button {
    margin: 0px; 
    margin-bottom: 4px; 
    padding: 8px; 
    border-radius: 6px;
}