---
layout: dashboard
robot: PreBot

permalink: /prebot/
---

{% include dcu_js.html %}


<div id="debug">
    <div id="ErrorCatcher" onclick='buttonDown("ErrorCatcher")' class="button navy squarish h150" style="height: 20%; border-radius: 12px; padding: 8px; margin-top: 8px; margin-bottom: 8px;">
        <center>
            <h1> ErrorCatcher</h1>
        </center>
    </div>
    <center>
        <font size = "6"> <p id="ErrorValue">ErrorCatcher has not been run yet</p> </font>
    </center>
</div>





{% include dcu.html %}