@font-face {
    font-family: 'Open Sans';
    src: url('../assets/open-sans.ttf');
}

body {
    font-family: 'Open Sans';
}

.squash {
    padding: 0px;
    margin: 0px;
}

.thicc {
    width: 100%;
    height: 100%;
}

.flexbox {
    display: flex;
}

.flexbox.row {
    flex-direction: row;
}

.flexbox.column {
    flex-direction: column;
}


.navy {
    background: #1b1464;
    color: white;
}

.royal {
    background: #072682;
    color: white;
}

.sapphire {
    background: #0068a5;
    color: white;
}

.red {
    background: #e20000;
    color: white;
}

.orange {
    background: #f36d00;
    color: white;
}

.green {
    background: #00d11c;
    color: white;
}

.purple {
    background: #800080;
    color: white;
}
.dark_blue {
    background: #08358e;
    color: white;
}
.medium_blue {
    background: #2159c6;
    color: white;
}
.light_blue {
    background: #4c81e8;
    color: white;
}
.lightest_blue {
    background: #77a5ff;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.button.red:hover {
    background: #ac0000;
}

.button.orange:hover {
    background: #a04800;
}

.button.green:hover {
    background: #00ac17;
}

.button.purple:hover {
    background: #680068;
}

.button.sapphire:hover {
    background: #005281;
}

#camera {
    border: 2px solid #96b9ff; 
    overflow: hidden;
    background-color: #333;
    background-image: url('http://roborio-3128-frc.local:1181/?action=stream');

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#camera.rotated { 
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
