<div class = "flexbox column squash" style="justify-content: center; flex-grow: 1; margin-left: 25px">
    
    <div class="flexbox grid_info">
        <div class="flexbox grid_flex top">
            <div class="grid_item top cone"><div class="shape"></div></div>
            <div class="grid_item top cube"><div class="shape"></div></div>
            <div class="grid_item top cone"><div class="shape"></div></div>
        </div>
        <div class="flexbox grid_flex mid">
            <div class="grid_item mid cone"><div class="shape"></div></div>
            <div class="grid_item mid cube"><div class="shape"></div></div>
            <div class="grid_item mid cone"><div class="shape"></div></div>
        </div>
        <div class="flexbox grid_flex low">
            <div class="grid_item unisex">
                <div class="tri"></div>
                <div class="sq"></div>
            </div>
            <div class="grid_item unisex">
                <div class="tri"></div>
                <div class="sq"></div>
            </div>
            <div class="grid_item unisex">
                <div class="tri"></div>
                <div class="sq"></div>
            </div>
        </div>
    </div>
</div>