<div class="flexbox column squash" style="flex: 0 1 100%; align-items: stretch; padding: 16px; overflow: hidden">    
    <div class="stream" style="text-align: center; flex: 0 0 auto; border-radius: 12px; padding: 20px; margin-bottom: 10px;">
        <div id="cam_conn_button" onclick="toggleToSelectedLimelight()" class="button red" style="flex: 0 0 auto; border-radius: 6px; padding: 10px; padding-left: 14px; padding-right: 14px; margin-bottom: 2px">
            <font id="cam_conn_button_text" style="font-size: 20; font-weight: 700">Connect To Camera</font>
        </div>

        <div>
            <img id="top_stream" style="width: 60%; margin: auto; margin-top: 10px; display: none;" src="">
        </div>
        
        <div id="cameraDiv">
            <img id="cameraStream" style="width:61vh; margin: 0 auto; border-radius: 6px; padding: 14px; padding-left: 14px; padding-right: 14px; display: none;" src="">
        </div>
 
         <div class="royal flexbox column" style="align-items: stretch; flex-grow: 0; margin: 12px; margin-bottom: 0px; padding: 12px; border-radius: 6px; display: inline-block">
            <div style="display: flex; align-items: center; flex-direction: row; color: white; font-size: 14pt;">
                <font style="font-size: 20; font-weight: 300; margin-right: 8px;">Selected Limelight:</font>
                <font id="selected_limelight" style="font-size: 20; font-weight: 600; flex: 1 0 auto">Not connected.</font>  
                <div onclick='toggleLimelightMenu()' class="button sapphire" style="margin-left: 10px; border-radius: 6px; padding: 4px; padding-left: 14px; padding-right: 14px;">Choose</div>      
            </div>
            <div id="limelight_list" style='display: none; margin-top: 10px;'>
                <div id="limelight_choice_none" onclick="select_limelight(-1)" class="button sapphire" style="margin: 0px; margin-bottom: 4px; padding: 8px; border-radius: 6px;">
                    None
                </div>
            </div>
        </div>

        <div class="royal flexbox column" style="align-items: stretch; flex-grow: 0; margin: 12px; margin-bottom: 0px; padding: 12px; border-radius: 6px; display: inline-block; vertical-align: top">
            <div style="display: flex; align-items: center; flex-direction: row; color: white; font-size: 14pt;">
                <font style="font-size: 20; font-weight: 300; margin-right: 8px;">Selected Pipeline:</font>
                <font id="selected_pipeline" style="font-size: 20; font-weight: 600; flex: 1 0 auto">Not connected.</font>  
                <div onclick='togglePipelineMenu()' class="button sapphire" style="margin-left: 10px; border-radius: 6px; padding: 4px; padding-left: 14px; padding-right: 14px;">Choose</div>      
            </div>
            <div id="pipeline_list" style='display: none; margin-top: 10px;'>
                <div id="pipeline_choice_none" onclick="select_pipeline(-1)" class="button sapphire" style="margin: 0px; margin-bottom: 4px; padding: 8px; border-radius: 6px;">
                    None
                </div>
            </div>
        </div>

    </div> 
    <div style="flex: 0 0 10px; margin-bottom: 0px; text-align: center; padding: 20px; padding-right: 4px; padding-left: 4px; padding-bottom: 0px; font-size: 20pt">
        <b>Align Mode<br>
    </div>
    <div style="flex: 0 0 240px; display: grid; text-align: center; grid-template-columns: repeat(2, 1fr); grid-gap: 12px; margin-bottom: 12px; font-size: 20pt">
        <div id="VisionAlign" onclick='buttonDown("VisionAlign")' class="button green" style="height: 50%; border-radius: 12px; padding: 8px; margin-top: 8px; margin-bottom: 8px;">
            Vision Align
        </div>
        <div id="ManualAlign" onclick='buttonDown("ManualAlign")' class="button grey" style="height: 50%; border-radius: 12px; padding: 8px; margin-top: 8px; margin-bottom: 8px;">
            Manual Align
        </div>
    </div>
    <div style="flex: 0 0 240px; margin-bottom: 12px; text-align: center; padding: 20px; padding-right: 4px; padding-left: 4px; font-size: 20pt">
        <b>Shooting Ranges<br>
        <div id="SetStateShort" onclick='buttonDown("SetStateShort")' class="button grey" style="height: 20%; border-radius: 12px; padding: 8px; margin-top: 8px; margin-bottom: 8px;">
            Short Range
        </div>
        <div id="SetStateMid" onclick='buttonDown("SetStateMid")' class="button green" style="height: 20%; border-radius: 12px; padding: 8px; margin-bottom: 8px;">
            Mid Range
        </div>
        <div id="SetStateLong" onclick='buttonDown("SetStateLong")' class="button grey" style="height: 20%; border-radius: 12px; padding: 8px; margin-bottom: 8px;">
            Long Range
        </div>
    </div>
</div>