---
layout: default
---

<div id="dashboard">
    <div class="flexbox row squash" style="align-items: stretch;">
        <div class="flexbox column squash" style="flex: 0 0 40%;">
            <div class="flexbox row" style="align-items: center; flex-grow: 0; margin: 25px; margin-bottom: 0px; padding: 8px; background: white; border-radius: 20px;">
                <div id="battery" style="flex: 0 0 160px; height: 160px; background: #b0b0b0; border-radius: 14px; padding: 8px; color: white; text-align: center; vertical-align: middle;">
                    <font style="font-size: 18pt; line-height: 12pt;">Battery</font>
                    <canvas id="batt_gauge"></canvas>  
                </div>
                
                <div style="flex: 1 0 auto; text-align: center; vertical-align: middle;">
                    <font id="match_time" style="font-size: 60pt; line-height: 64pt">0s</font>
                    <br>
                    <font style="font-size: 18pt; line-height: 20pt">Match Time Remaining</font>
                    <br>

                    <div id="match_state" class="black flexbox" style="align-items: center; flex-grow: 0; margin: 25px; margin-bottom: 0px; padding: 12px; border-radius: 16px; display: inline-block;">
                        <font id="match_state_text" style="font-size: 32; font-weight: 900;">DISABLED</font>
                    </div>
                </div>
            </div>

            <div class="flexbox column" style="align-items: strech; flex-grow: 0; margin: 25px; margin-bottom: 0px; padding: 0px; border-radius: 16px;">
                {% include left_{{ page.robot | downcase }}.html %}
            </div>
        </div>
        {% include right_{{ page.robot | downcase }}.html %}
    </div>
</div>

{{ content }}